alembic==1.7.1
attrs==21.2.0
click==8.0.1
coverage==5.5
Flask==2.0.1
Flask-Alembic==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.1.0
importlib-resources==5.2.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.26.1
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
SQLAlchemy==1.4.23
toml==0.10.2
Werkzeug==2.0.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0